.header {
  padding: 50px; 
  text-align: center; /* center the text */
  background: #b19097; 
  color: white; /* white text color */

}

/* Increase the font size of the <h1> element */
.header h1 {
  font-family: 'Unica One', cursive;
  font-size: 70px;
  text-align: center;
  font-style: bold;
}

.header h2 {
  text-align: center;
  font-family: 'Economica', sans-serif;
  padding: px 0px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color:#c3c5c9; /* Dark background color */
  font-family: 'Unica One', cursive;
  font-size: 40px;
  text-align: justify;
}


/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

body {
  background-color:#4c3e41;
}


td, th {
  border: 1px solid black;
  padding: 10px;
}

th {
  font-style: bold;
}

tr:hover {
  background-color: #bbb;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
